## Ignored files

# Manually added
JD spel - 140415/JD spel.suo
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.exe
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.exe
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel.suo
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.exe
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.exe
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/Content/HappySong.wma
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.exe
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.exe
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel/JD spelContent/obj/x86/Debug/ContentPipeline.xml
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.exe
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.exe
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel/JD spel/obj/x86/Debug/JD spel.exe
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.pdb
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/JD spel.exe

# Patterns
[Dd]ebug/
Debug/
debug/
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/Content/FirstSpriteSheet.xnb
JD spel - 140415/JD spel/JD spel/bin/x86/Debug/Content/FirstSpriteSheet.xnb